/*.main {
  background-color:lightblue ;
  .main-heading {
    font-size: 2em;
  }
  .main-paragraf {
    font-size: 1.4em;
  }
}*/
/*.main, footer {
  h1,p {
    letter-spacing: 1px;
  }
}*/
//parent selector 
/*.main {
  .container & {
    background-color: yellow;
  }
  .main-heading {
    font-size: 1.3em;
  }
  &:hover {
    background-color: salmon;
  }
}*/
.main {
  #{&}-header {
    font-size: 1.5em;
    background-color: blue;
  }
  & &-paragraf {
    font-size: 1.4em;
  }
}
.footer {
  #{&}-heading {
    font-size: 1.7em;
  }
  #{&}-paragraf {
    color: red;
  }
}
