body {
  margin: 0;
  padding: 0;
  height: 100vh;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

.biru-muda {
  background-color: lightblue;
}

.kotak {
  width: 25px;
  height: 25px;
  margin: 10px auto;
}
.merah {
  background-color: red;
}
.hijau {
  background-color: green;
}
.biru {
  background-color: blue;
}
#changeColor {
  display: none;
}
