* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background: rgb(197, 140, 197);
}

h1 {
  text-align: center;
  color: white;
  text-shadow: 3px 2px black;
}

.container {
  border: 5px solid rgb(97, 24, 97);
  overflow: hidden;
  width: 85vw;
  margin: auto;
  background-color: azure;
  border-radius: 25px;
  position: relative;
}

.container-score {
  display: flex;
  justify-content: space-around;
}
.container-score h2 {
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  color: purple;
}

.container-game {
  padding: 3rem 0;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(13, 13, 170, 1) 41%,
    rgba(0, 212, 255, 1) 100%
  );
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.info {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: blueviolet;
  text-shadow: 1px 2px 3px black;
  /* text-shadow: 2px 3px black; */
  border-radius: 50px;
  border: 0.3rem solid rgb(97, 24, 97);
  background: white;
  width: 7rem;
  height: 3.5rem;
}

.area-player img,
.area-computer img {
  border-radius: 50%;
  border: 5px solid rgb(97, 24, 97);
}
.area-option {
  padding: 1rem 0;
  background: rgb(245, 154, 174);
  background: linear-gradient(
    90deg,
    rgba(245, 154, 174, 1) 0%,
    rgba(113, 238, 223, 1) 50%,
    rgba(228, 233, 105, 1) 100%
  );
  border-top: 5px solid rgb(97, 24, 97);
}

.rock,
.scissor,
.paper {
  transition: 0.3s;
  position: relative;
  top: 0;
  cursor: pointer;
}

.rock:hover,
.scissor:hover,
.paper:hover {
  filter: drop-shadow(0 0 10px purple);
}

.area-option ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}
